@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
header .header-wrap {
  justify-content: center;
  height: 90px;
  background-color: #9C2482;
}
header .header-wrap .header-logo {
  margin: 20px 132px 0 0;
  margin-top: 20px;
  margin-right: 132px;
}
header .header-wrap .header-logo img {
  width: 90px;
  height: 50px;
  margin-right: 10px;
}
header .header-wrap .header-logo h2 {
  font-family: "Playfair Display";
  font-weight: 400;
  font-style: Regular;
  font-size: 32px;
  color: #F5F5F5;
  line-height: 160%;
}
header .header-wrap .header-menu {
  margin-top: 31px;
}
header .header-wrap .header-menu .header-links {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  color: #F5F5F5;
  line-height: 160%;
  margin-right: 64px;
  display: inline-block;
}
header .header-wrap .header-menu .header-links:hover {
  animation: a 0.1s linear forwards;
}
header .header-wrap .header-contact {
  padding: 11px 0 0 32px;
  width: 268px;
  height: 54px;
  border: 1px solid #F5F5F5;
  margin-top: 18px;
}
header .header-wrap .header-contact img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
header .header-wrap .header-contact p {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  color: #F5F5F5;
  line-height: 160%;
}

@media (max-width: 1100px) {
  .header-logo {
    padding-left: 60px;
    transform: scale(0.7);
  }
  .header-links {
    transform: scale(0.7);
    margin-right: -50px;
  }
  .header-contact {
    transform: scale(0.7);
  }
}
@keyframes a {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.3);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1600px;
}

body {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sec1-wrap {
  height: 693px;
  background-image: url(/images_sec1/background.png);
}
.sec1-wrap .text {
  padding: 260px 0 0 90px;
}
.sec1-wrap .text h2 {
  font-family: "Playfair Display";
  font-weight: 700;
  font-style: Bold;
  font-size: 54px;
  color: #9C2482;
  line-height: 160%;
  margin-bottom: 20px;
}
.sec1-wrap .text p {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  color: #524848;
  line-height: 160%;
  margin-bottom: 20px;
}
.sec1-wrap .text button {
  width: 270px;
  height: 53px;
  background-color: #9C2482;
  border: none;
  font-family: "Montserrat";
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  color: #F5F5F5;
  line-height: 160%;
}
.sec1-wrap .text button:hover {
  animation: button 0.1s linear forwards;
}
.sec1-wrap .social {
  margin: 150px 0 0 90px;
}
.sec1-wrap .social a {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  color: #524848;
  line-height: 160%;
  margin-right: 30px;
  display: inline-block;
}
.sec1-wrap .social a:hover {
  animation: a 0.1s linear forwards;
}

@keyframes button {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
    border-radius: 30px;
    background-color: rgb(173, 39, 197);
  }
}
@keyframes a {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.3);
  }
}
.sec2-wrap {
  position: relative;
  height: 627px;
  margin-top: 90px;
}
.sec2-wrap .title {
  text-align: center;
  font-family: "Playfair Display";
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  color: #9C2482;
  line-height: 160%;
}
.sec2-wrap .img {
  margin: 30px 0 0 90px;
}
.sec2-wrap .img .main {
  position: absolute;
  z-index: 2;
}
.sec2-wrap .img .play {
  position: absolute;
  top: 466px;
  left: 100px;
  z-index: 2;
}
.sec2-wrap .img .bg {
  position: absolute;
  top: 448px;
  left: 86px;
  z-index: 1;
}
.sec2-wrap .text {
  text-align: center;
  margin: 0 0 0 900px;
}
.sec2-wrap .text .text1 {
  text-align: left;
  margin: 0 0 9px 145px;
  font-family: "Montserrat";
  font-weight: 700;
  font-style: Regular;
  font-size: 24px;
  color: #121212;
  line-height: 160%;
}
.sec2-wrap .text .text2 {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  color: #524848;
  line-height: 160%;
  text-align: left;
  margin-left: 145px;
  margin-bottom: 30px;
}
.sec2-wrap .text span {
  font-family: "Playfair Display";
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  color: #121212;
  line-height: 160%;
}
.sec2-wrap .text button {
  width: 222px;
  height: 54px;
  border: none;
  background-color: #9C2482;
  margin-right: 190px;
  font-family: "Montserrat";
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  color: #F5F5F5;
  line-height: 160%;
}
.sec2-wrap .text button:hover {
  animation: button 0.1s linear forwards;
}

@keyframes button {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
    border-radius: 30px;
    background-color: rgb(173, 39, 197);
  }
}
.sec3-wrap {
  height: 531px;
}
.sec3-wrap .title {
  text-align: center;
  font-family: "Playfair Display";
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  color: #9C2482;
  line-height: 160%;
  margin-top: 80px;
  margin-bottom: 24px;
}
.sec3-wrap .imgs {
  justify-content: center;
  margin-top: 30px;
}
.sec3-wrap .imgs img {
  margin-right: 305px;
}
.sec3-wrap .imgs .im4 {
  margin-right: 0px;
}
.sec3-wrap .hr1 {
  border: 1px solid #9C2482;
  margin-top: 20px;
}
.sec3-wrap .text {
  margin-top: 20px;
  justify-content: center;
}
.sec3-wrap .text .p1 {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  color: #121212;
  line-height: 160%;
  margin-right: 310px;
}
.sec3-wrap .text .p2 {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  color: #121212;
  line-height: 160%;
  margin-right: 310px;
}
.sec3-wrap .text .p3 {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  color: #121212;
  line-height: 160%;
  margin-right: 255px;
}
.sec3-wrap .text .p4 {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  color: #121212;
  line-height: 160%;
}
.sec3-wrap .hr2 {
  border: 1px solid #9C2482;
  margin-top: 25px;
}
.sec3-wrap .text2 {
  margin-top: 20px;
  justify-content: center;
}
.sec3-wrap .text2 .p5 {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  color: #524848;
  line-height: 160%;
  margin-right: 95px;
}
.sec3-wrap .text2 .p6 {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  color: #524848;
  line-height: 160%;
  margin-right: 90px;
}
.sec3-wrap .text2 .p7 {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  color: #524848;
  line-height: 160%;
  margin-right: 105px;
}
.sec3-wrap .text2 .p8 {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  color: #524848;
  line-height: 160%;
}

.sec4-wrap {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 510px;
}
.sec4-wrap .title {
  text-align: center;
  font-family: "Playfair Display";
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  color: #9C2482;
  line-height: 160%;
}
.sec4-wrap .main {
  margin-top: 24px;
  position: relative;
}
.sec4-wrap .arrow1 {
  width: 15px;
  height: 30px;
  margin: 182px 60px 0 0;
}
.sec4-wrap .arrow2 {
  width: 15px;
  height: 30px;
  margin: 182px 0 0 100px;
}
.sec4-wrap .img1 {
  margin: 0 30px 0 70px;
}
.sec4-wrap .img2 {
  position: absolute;
  right: 50px;
  bottom: 0px;
}
.sec4-wrap .text h3 {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  color: black;
  line-height: 160%;
}
.sec4-wrap .text p {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  color: #524848;
  line-height: 160%;
  margin-top: 30px;
}
.sec4-wrap .text button {
  width: 290px;
  height: 67px;
  border: none;
  background-color: #9C2482;
  margin-top: 30px;
  font-family: "Montserrat";
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  color: #F5F5F5;
  line-height: 160%;
}
.sec4-wrap .text button:hover {
  animation: button 0.1s linear forwards;
}

@keyframes button {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
    border-radius: 30px;
    background-color: rgb(173, 39, 197);
  }
}
.sec5-wrap {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 708px;
}
.sec5-wrap .title {
  text-align: center;
  font-family: "Playfair Display";
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  color: #9C2482;
  line-height: 160%;
}
.sec5-wrap .menu p {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  color: #524848;
  line-height: 160%;
  margin: 25px 60px 0 0;
}
.sec5-wrap .menu span {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  color: #121212;
  line-height: 160%;
}
.sec5-wrap .main .arrow1 {
  width: 15px;
  height: 30px;
  margin: 182px 30px 0 0;
}
.sec5-wrap .main .arrow2 {
  width: 15px;
  height: 30px;
  margin: 182px 0 0 200px;
}
.sec5-wrap .main .box {
  text-align: center;
  margin: 10px 59px 0 0;
}
.sec5-wrap .main .box h3 {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  color: #9C2482;
  line-height: 160%;
  margin: 10px 0 5px 0;
}
.sec5-wrap .main .box p {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  color: #524848;
  line-height: 160%;
}

.sec6-wrap {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 911px;
}
.sec6-wrap .title {
  text-align: center;
  margin-bottom: 24px;
  font-family: "Playfair Display";
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  color: #9C2482;
  line-height: 160%;
}
.sec6-wrap .box {
  margin-right: 20px;
}
.sec6-wrap .box hr {
  width: 700px;
  border: 1px solid #9C2482;
}
.sec6-wrap .box h3 {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  color: #121212;
  line-height: 160%;
  margin: 29px 0 29px 0;
}
.sec6-wrap .box p {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  color: #524848;
  line-height: 160%;
  margin: 20px 0 20px 0;
}
.sec6-wrap button {
  width: 222px;
  height: 54px;
  border: none;
  background-color: #9C2482;
  margin-top: 30px;
  font-family: "Montserrat";
  font-weight: 600;
  font-style: Bold;
  font-size: 22px;
  color: #F5F5F5;
  line-height: 160%;
}
.sec6-wrap button:hover {
  animation: button 0.1s linear forwards;
}

@keyframes button {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
    border-radius: 30px;
    background-color: rgb(173, 39, 197);
  }
}
.sec7-wrap {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 410px;
}
.sec7-wrap .title {
  text-align: center;
  margin-bottom: 24px;
  font-family: "Playfair Display";
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  color: #9C2482;
  line-height: 160%;
}
.sec7-wrap .arrow1 {
  width: 15px;
  height: 30px;
  margin: 98px 25px 0 0;
}
.sec7-wrap .arrow2 {
  width: 15px;
  height: 30px;
  margin: 98px 0 0 45px;
}
.sec7-wrap .box {
  margin-left: 20px;
  width: 640px;
  height: 240px;
  border: 1px solid #9C2482;
}
.sec7-wrap .box .head h3 {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  color: #9C2482;
  line-height: 160%;
  margin: 20px 345px 10px 35px;
}
.sec7-wrap .box p {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  color: #524848;
  line-height: 160%;
  margin-left: 35px;
}
.sec7-wrap .box img {
  width: 140px;
  height: 24px;
  margin-top: 25px;
}

.sec8-wrap {
  justify-content: center;
  margin-top: 100px;
}
.sec8-wrap .text .title {
  font-family: "Playfair Display";
  font-weight: 700;
  font-style: Bold;
  font-size: 29px;
  color: #9C2482;
  line-height: 160%;
  margin-left: 41px;
}
.sec8-wrap .text .form {
  margin-left: 40px;
  flex-direction: column;
}
.sec8-wrap .text .form .inp_with_arrow {
  position: relative;
}
.sec8-wrap .text .form .inp_with_arrow img {
  position: absolute;
  width: 20px;
  height: 10px;
  top: 50px;
  right: 116px;
}
.sec8-wrap .text .form input {
  border: none;
  border-bottom: 1px solid black;
  width: 608px;
  margin: 30px 0 5px 5px;
  height: 43px;
}
.sec8-wrap .text .form input::-moz-placeholder {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  color: #121212;
  line-height: 160%;
}
.sec8-wrap .text .form input::placeholder {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  color: #121212;
  line-height: 160%;
}
.sec8-wrap .text .form .foot .inp_with_arrow {
  position: relative;
}
.sec8-wrap .text .form .foot .inp_with_arrow img {
  position: absolute;
  width: 20px;
  height: 10px;
  top: 50px;
  right: 116px;
  right: 0px;
}
.sec8-wrap .text .form .foot input {
  width: 280px;
  margin-left: 47px;
}
.sec8-wrap .text .form .foot .inp1 {
  margin-left: 5px;
}
.sec8-wrap .text button {
  margin: 50px 0 0 426px;
  width: 222px;
  height: 54px;
  border: none;
  background-color: #9C2482;
  font-family: "Montserrat";
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  color: #F5F5F5;
  line-height: 160%;
}
.sec8-wrap .text button:hover {
  animation: button 0.1s linear forwards;
}

@keyframes button {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
    border-radius: 30px;
    background-color: rgb(173, 39, 197);
  }
}
.sec9-wrap {
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.sec9-wrap .title {
  text-align: center;
  font-family: "Playfair Display";
  font-weight: 700;
  font-style: Bold;
  font-size: 36px;
  color: #9C2482;
  line-height: 160%;
  margin-bottom: 30px;
}
.sec9-wrap .text {
  margin-left: 50px;
}
.sec9-wrap .text h5 {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  color: black;
  line-height: 160%;
  margin-bottom: 5px;
}
.sec9-wrap .text p {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  color: #9C2482;
  line-height: 160%;
  margin-bottom: 5px;
}
.sec9-wrap .text .imgs img {
  margin-right: 25px;
}
.sec9-wrap .text button {
  margin: 50px 0 0 0px;
  width: 222px;
  height: 54px;
  border: none;
  background-color: #9C2482;
  font-family: "Montserrat";
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  color: #F5F5F5;
  line-height: 160%;
}
.sec9-wrap .text button:hover {
  animation: button 0.1s linear forwards;
}

@keyframes button {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
    border-radius: 30px;
    background-color: rgb(173, 39, 197);
  }
}
footer {
  height: 168px;
  background-color: #9C2482;
  margin-top: 112px;
}
footer .footer-wrap {
  justify-content: center;
  height: 90px;
  background-color: #9C2482;
}
footer .footer-wrap .footer-logo {
  margin: 20px 132px 0 0;
}
footer .footer-wrap .footer-logo img {
  width: 90px;
  height: 50px;
  margin-right: 10px;
}
footer .footer-wrap .footer-logo h2 {
  font-family: "Playfair Display";
  font-weight: 400;
  font-style: Regular;
  font-size: 32px;
  color: #F5F5F5;
  line-height: 160%;
}
footer .footer-wrap .footer-menu {
  margin-top: 31px;
}
footer .footer-wrap .footer-menu .footer-links {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  color: #F5F5F5;
  line-height: 160%;
  margin-right: 64px;
  display: inline-block;
}
footer .footer-wrap .footer-menu .footer-links:hover {
  animation: a 0.1s linear forwards;
}
footer .footer-wrap .footer-social {
  margin-top: 30px;
}
footer .footer-wrap .footer-social h4 {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  color: #F5F5F5;
  line-height: 160%;
  margin-bottom: 5px;
}
footer .footer-wrap .footer-social p {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  color: #F5F5F5;
  line-height: 160%;
}
footer .footer-wrap .footer-social img {
  margin: 20px 25px 0 0;
}

@keyframes a {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.3);
  }
}