@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 1600px;
}

body{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}